@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hero-bg: #080808;
  --header-bg: #1b1b1b;
  --header-text: #9c9c9c;
}

/* Pattern styles */
.pattern-dots {
  background-image: radial-gradient(currentColor 2px, transparent 2px);
  background-size: calc(10 * 2px) calc(10 * 2px);
}

.pattern-size-2 {
  background-size: 20px 20px;
}

/* Custom styles */
body {
  color: var(--foreground);
  background: var(--background);
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

